extends /_include/_layout
append variables
  - var directory ='/createTableOfContents/'
block css
block js

block body
  main
    p.text テキストでマスクするテキストでマスクするテキストでマスクするテキストでマスクするテキストでマスクする

    pre.
      .text {
        margin-top: 60px;
        background: url(../img/bg.webp) no-repeat 0 50%;
        background-size: cover;
        background-clip: text;
        font-size: 3rem;
        font-weight: bold;
        color: transparent;
      }

    //- section.textMask
    //-   .textMask__body
    //-     h2.textMask__title
    //-       span.textMask__title-main 画像と重ねてテキストでマスクする（調整中）
    //-       span.textMask__title-sub(data-title="画像をテキストでマスクする")

