extends /_include/_layout
append variables
  - var directory ='/createTableOfContents/'
block css
block js

block body
  main.section
    p.text テキストでマスクするテキストでマスクするテキストでマスクするテキストでマスクするテキストでマスクする

    pre.
      .text {
        margin-top: 60px;
        background: url(../img/bg.webp) no-repeat 0 50%;
        background-size: cover;
        background-clip: text;
        font-size: 3rem;
        font-weight: bold;
        color: transparent;
      }

    hr

    section
      h2.title 重なりを応用すると交差したデザインもできます。
      .textMask
        .textMask__body
          h2.textMask__title
            span.textMask__title-main 画像に重ねてテキストで<br>マスクするサンプル
            span.textMask__title-sub.
              <span data-title="画像に重ねてテキストで
              マスクするサンプル"></span>

      p 写真の上に重なるテキストだけを別の色にするのが難しく、同じテキストを重ねて表示するようにしています。#[br]もっとスマートな方法があれば教えて下さい。
      a(href="https://twitter.com/chocodogmagic") Twitter
