@use './foundation/_define' as *;

body {
  margin: 10px;
  padding: 0;
  font-family: 'Helvetica Neue', Arial,
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ', 'Meiryo',
  sans-serif;
  -webkit-text-size-adjust: 100%;
}

h1 {
  color: $color-main;

  @include mq(pc) {
    text-align: center;
  }
}

p {
  font-size: 1rem;
}

.section {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  margin: 120px -10px -10px;
  padding: 20px;
  background: #f4f4f4;
  display: flex;

  p {
    font-size: 0.8rem;
    margin-right: 2em;
  }
}

pre {
  border: 5px dotted lightblue;
  padding: 20px;
  overflow: auto;
}

.title {
  text-align: center;
}

.text {
  margin: 30px 0;
  background: url(../img/bg.webp) no-repeat 0 50%;
  background-size: cover;
  background-clip: text;
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;

  @include mq(pc) {
    font-family: 3rem;
  }
}

.textMask {
  margin: 60px auto;
  max-width: 1000px;
  position: relative;
  background: url(../img/bg.webp) no-repeat 0 0;
  background-size: 110% auto;

  &::before {
    content: '';
    width: 30vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
  }
}

.textMask__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;

  @include mq(pc) {
    min-height: 380px;
  }
}

.textMask__title {
  font-size: 6vw;
  color: transparent;
  overflow: hidden;
  background: url(../img/bg.webp) no-repeat 0 50%;
  background-size: 110% auto;
  background-clip: text;

  @include mq(pc) {
    font-size: 4rem;
  }
}

.textMask__title-main {
  display: block;
  width: 30vw;
  overflow: hidden;
  white-space: nowrap;
}

.textMask__title-sub {
  position: relative;
  left: 30vw;
  width: 100vw;
  display: block;

  span {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;

    &::before {
      content: attr(data-title);
      display: block;
      white-space: pre-line;
      color: #333;
      transform: translateX(-30vw);
      width: 100vw;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 60px 0;
}

// webp非対応の場合
.no-webp {
  .text,
  .textMask,
  .textMask__title {
    background-image: url(../img/bg.jpg);
  }
}
